$primary-color: white;
$bg: black;
$dv-orange: #EE6823;

body{
    background-color: $primary-color
}

h1 {
  color: $primary-color;
  background-color: $bg;
}
 svg{
   background-color: $bg;
   color: $primary-color;
   cursor:pointer;
 }

 path{
   fill:$dv-orange;
   fill-opacity:0.20;
   stroke:$dv-orange;
   stroke-width:1px;
 }

 line{
   stroke:green;
 }

 circle{
   stroke:white;
   opacity:0.5
 }

text{
  stroke:none;
  fill:white;
}

.axis{
  text{
    text-anchor:end;
    stroke:none;
    fill:grey;}
  line{
    stroke:grey;
  }
}

.tooltip{
  circle{
    stroke:darkgrey;
    opacity:0;
    fill-opacity:0;
    r:10;
  }
  text{
    display:none;
  }
}

.tooltip:hover{
  circle{
    opacity:1;
  }
  text{
    opacity:0.8;
    display:inline-block;
    pointer-events: none;
  }
}

.tooltip.clicked{
  circle{
    opacity:1;
  }
  text{
    display:inline-block;
    pointer-events: none;
  }
}
